.nav-menu {
  max-width: 1440px;
}

.nav-menu__navigation {
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);

  @media (min-width: 1280px) {
    position: relative;
    transform: translate(0);
  }

  .nav-menu__list {
    .nav-menu__item {
      font-family: var(--font-headings);
      font-size: 20px;
      padding: 5px 0;
      overflow: hidden;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-dark);
        transform: translateY(20px);
        transition: transform 0.2s ease-in-out;
      }

      &:hover {
        cursor: pointer;
        &:after {
          transform: translateY(0);
        }
      }
    }
  }
}