@import 'tailwindcss';

:root {
  /* Spacing */
  --spacing: 10px;

  /* Typography */
  --font-base: "Space Grotesk", sans-serif;
  --font-headings: "Space Grotesk", sans-serif;

  /* Colors - Base */
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* Colors - UI Palette */
  --color-primary: #B9FF66;
  --color-grey: #F3F3F3;
  --color-dark: #191A23;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  font-family: var(--font-base);
  font-weight: 400;
}

.container {
  max-width: 1440px;
  padding: 0 50px;
  margin: auto;

  @media (min-width: 1280px) {
    padding: 0 100px;
  }
}